// Resets, Clearfix, etc
@import "./partials/clearfix";
@import "./partials/reset";
// Variables
$dark-color: black;
$light-color: blue;
$bright-color: white;
$padding: 5px;
// Media Query Ranges
// Mixins
@mixin block_font($block_font_size, $block_font_color, $block_background_color, $block_inline_setting, $max_width_size) {
  font-size: $block_font_size;
  color: $block_font_color;
  .block_family {
    max-width: $max_width_size;
  }
  .block_family li {
    background-color: $block_background_color;
    display: $block_inline_setting;
  };
}
// Styles
body {
  background-color: orange;
  text-align: center;
  color: #EEE;

  @media screen and (min-width: 0px) {
    background-color: $dark-color;
    @include block_font(40px, $light-color, $bright-color, block, 350px);
  }

  @media screen and (min-width: 800px) {
    background-color: $light-color;
    @include block_font(50px, $bright-color, $dark-color, inline-block, 350px);
    li:nth-child(2) { background-color: pink };
    li:nth-child(4) { background-color: pink };
    li:nth-child(6) { background-color: pink };
    li:nth-child(8) { background-color: pink };
    li:nth-child(10) { background-color: pink };
    li:nth-child(12) { background-color: pink };
  }

  @media screen and (min-width: 1200px) {
    background-color: $bright-color;
    @include block_font(60px, $dark-color, $light-color, inline-block, 600px);
    li:nth-child(2) { background-color: pink };
    li:nth-child(5) { background-color: pink };
    li:nth-child(8) { background-color: pink };
    li:nth-child(11) { background-color: pink };
  }
}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;

  // @media screen and (min-width)
}

h1 {
  padding: 20px;
}

h2 {

}

.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 5px;
}